.mainBack {
  background-color: #ffffff;
  border-radius: 40px;
  height: 80vh;
}

.h-full {
  height: 100vh;
}

.equal-width-btn {
  width: 100%;
  max-width: 200px;
  /* Adjust this value as needed */
}


/* ------------------ */
.card {
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
  text-align: center;
}

.views {
  background-color: #28a745;
  color: white;
}

.customers,
.orders {
  background-color: #343a40;
  color: white;
}

.revenue {
  background-color: #ffc107;
  color: white;
}

.projections,
.revenue-chart,
.revenue-location,
.total-sales {
  background-color: white;
  color: black;
}

.value {
  font-size: 2rem;
  font-weight: bold;
}

.percentage {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
}

.projections h5,
.revenue-chart h5,
.revenue-location h5,
.total-sales h5 {
  margin-bottom: 20px;
}

.container {
  max-width: 1200px;
}

@media (max-width: 768px) {
  .card-body {
    padding: 15px;
  }

  .value {
    font-size: 1.5rem;
  }

  .percentage {
    font-size: 0.9rem;
  }
}

/* -- */
.liquid-tank {
  position: relative;
  width: 100%;
  height: 40vh;
  border: 2px solid #000;
  border-radius: 10px;
  overflow: hidden;
  background: #e0f7fa;
  /* Light blue background for contrast */
}

.liquid-background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.liquid {
  position: absolute;
  bottom: 0;
  width: 200%;
  /* Ensure the wave fills the width */
  height: 0;
  /* Start height at 0 */
 
  /* border-radius: 20% 20% 0px 0px; */
  animation: wave 4s infinite linear;
  transition: height 2s ease-in-out;
  /* Smooth height transition */
}

.percentage-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: #fff;
  z-index: 1;
}

@keyframes wave {
  0% {
    transform: translateX(0);
    background: rgb(0, 174, 255);
  }

  50% {
    transform: translateX(-50%) translatey(5%);
    background: rgb(0, 153, 255);
    /* transform: translatey(5%); */
  }
  
  70% {
    transform: translateX(-50%) translatey(2%);
    background: rgb(0, 102, 255);
    /* background: rgb(0, 174, 255); */
    /* transform: translatey(5%); */
  }

  100% {
    transform: translateX(0);
    background: rgb(0, 174, 255);
  }
}